.btn {
    padding: 0;
    background: none !important;
}

.btn-primary {
    color: #366607;
    border: none;
}

.btn-primary:hover {
    color: #60BA09;
}

tr {
    border: .1px;
    border-color: #F2F2F2;
}

th {
    text-align: center;
    background-color: #FAFAFA;
}

.wrapper-filter {
    margin: 20px 0;
}

.even {
    background-color: #FCFCFC;
}

.odd {
    background-color: #FEFEFE;
}