h2 {
    text-align: center;
    color: #757474;
    font-size: 25px;
}

h3 {
    color: #474646;
    font-size: 20px;
}

input[type=text] {
    width: 200px;
}

.btn {
    padding: 0;
    margin: 2px;
    background: none !important;
}

.btn-primary {
    color: #045a8c;
    border: none;
}

.btn-primary:hover {
    color: #109ff2;
}

tr {
    border: .1px;
    border-color: #f2f2f2;
}

th {
    text-align: center;
    background-color: #fafafa;
}

td {
    font-size: 14px;
}

.wrapper-filter {
    margin: 20px 0;
}

.filtered-by {
    text-transform: capitalize;
    color: #045a8c;
}

.even {
    background-color: #fcfcfc;
}

.odd {
    background-color: #fefefe;
}