<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h2>{{pageTitle}}</h2>
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2 wrapper-filter'>Filter by:</div>
      <div class='col-md-4'>
        <input class='wrapper-filter' type='text' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h3>Filtered by: </h3>
      </div>
    </div>
    <!--
    <div>
      <button class='btn btn-primary'
              (click)='toggleImage()'>
              {{showImage ? 'Hide' : 'Show'}} Album Cover</button>
    </div> -->
    <!-- *ngIf and *ngFor are structural directives. -->
    <div class='table-responsive'>
      <!-- When using *ngIf, the expression is evaluated
      as a true or false. -->
      <table class='table'
        *ngIf='songs && songs.length'>
        <thead>
          <tr>
            <!-- <th></th> -->
            <th>Play</th>
            <th>Name</th>
            <th>Time</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <!-- When using *ngFor, we have to define the local
        variable with "let" and then specify "of" to iterate
        over the list. -->
        <tbody>
          <tr *ngFor='let song of songs; let i=index; let o=odd; let e=even;'
          [ngClass]='{ odd: o, even: e }'>
            <!-- <td>
              <img *ngIf='showImage'
              [src]='song.imageUrl'
              [title]='song.songName'
              [style.width.px] = 'imageWidth'
              [style.margin.px] = 'imageMargin'>
            </td> -->
            <td></td><!-- Play button. -->
            <td>{{song.songName}}</td>
            <td>{{song.time}}</td>
            <td>{{song.artist}}</td>
            <td>{{song.album}}</td>
            <td>{{song.genre}}</td>
            <td>{{song.starRating}}</td>
            <td>
              <button class='btn btn-primary'>Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>