<div class='panel'>
  <div>
    <!-- Interpolation: -->
    <h2>{{ pageTitle }}</h2>
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2 wrapper-filter'>Filter by song name:</div>
      <div class='col-md-4'>
        <input class='wrapper-filter' type='text' 
          placeholder='Song name...' 
          [(ngModel)]='listFilter' />
          <!-- 
            [()] is called 'Banana in a box' 
            and ngModel is a directive. 
            It is a two-way binding.
          -->
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h3>Results for: <span class='filtered-by'>{{ listFilter }}</span></h3>
      </div>
    </div>
    <!--
    This is an event binding.
    <div>
      <button class='btn btn-primary'
              (click)='toggleImage()'>
              {{showImage ? 'Hide' : 'Show'}} Album Cover</button>
    </div> -->
    <!-- *ngIf and *ngFor are structural directives. -->
    <div class='table-responsive'>
      <!-- When using *ngIf, the expression is evaluated
      as a true or false. -->
      <table class='table'
        *ngIf='songs && songs.length'>
        <thead>
          <tr>
            <!-- <th></th> -->
            <th>Play</th>
            <th>Name</th>
            <th>Time</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <!-- When using *ngFor, we have to define the local
        variable with 'let' and then specify 'of' to iterate
        over the list. -->
        <tbody>
          <tr *ngFor='let song of filteredSongs; let i=index; let o=odd; let e=even;'
          [ngClass]='{ odd: o, even: e }'>
            <!-- 
            This is a property binding.
            <td>
              <img *ngIf='showImage'
              [src]='song.imageUrl'
              [title]='song.songName'
              [style.width.px] = 'imageWidth'
              [style.margin.px] = 'imageMargin'>
            </td> 
            -->
            <td class='center'></td> <!-- Play button. -->
            <td>{{ song.songName }}</td>
            <td class='center'>{{ song.time }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.album }}</td>
            <td class='center'>{{ song.genre }}</td>
            <td>
              <!-- Nested component to show the stars. Directive. -->
              <app-star [rating]='song.starRating' 
                        (ratingClicked)='onRatingClicked($event)'>
              </app-star>
            </td>
            <td class='center'>
              <button class='btn btn-primary glyphicon glyphicon-arrow-right'></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>