.btn {
    padding: 0;
}

.btn-primary {
    background-color: #FFF;
    color: #27A1E8;
    border: none;
}

.btn-primary:hover {
    color: #2ABBF9;
}

th {
    text-align: center;
}

.wrapper-filter {
    margin: 20px 0;
}